
# ### Config Files ###
config_files/*
!config_files/sppconnections_default.conf

# ### Grafana individual Dashboards
Grafana/customer_dashboards/*
!Grafana/customer_dashboards/.gitkeep

# ### Log files ###

sppmonLogs/*

# `python` and `scripts are used as workspace dirs
# ignore if vs code is opened up on top level
.vs/*

# Everything else is declared within sub-gitignores
