

.header{
	width:100%;
	height:60px;

	font-family:verdana;
    margin:0em;
	line-height:50px;
}

.header_left{

    line-height:50px;
    font-size:25px;
	text-align:left;
	float:left;
	padding-left:9px;
}

.header_right{

    line-height:50px;
    font-size:25px;
	text-align:right;
	float:right;
	padding-right:9px;
}

.title_center{
    margin: 0em;
}

.overview_section {
    padding: 1em;
    margin: 1em;
}

.individual_section {
    padding: 1em;
    margin: 1em;
}

.middle_section_a {
    padding: 1em;
    margin-bottom: 1em;
}

.middle_section_b {
    padding: 1em;
    margin-bottom: 1em;
}

.inner_section_a {
    padding: 1em;
    margin-bottom: 1em;
}

.inner_section_b {
    padding: 1em;
    margin-bottom: 1em;
}

.inner_section_table_a {
    padding: 1em;
    margin-bottom: 1em;
}

.inner_section_table_b {
    padding: 1em;
    margin-bottom: 1em;
}

.my_img {
    object-fit: scale-down;
}

.individual_report_img {
    max-width: 1000px;
    width: 100%;
    height: auto;
}

h5 {
    margin-top: 1em;
}

.my_good {
    /*color: green;*/
    background-color: #24a148 !important;
}

.my_bad {
    /*color:red;*/
    background-color: #da1e28 !important;
}

.my_na {
    /*color: orange;*/
    background-color: #ff832b !important;
}

.my_td, .my_table, .my_table_header {
    border-color: white;
    border-width: 2px !important;
}

.my_table_header{
    background-color: #a8a8a8 !important; /*Gray 40*/
}

.my_table_metrics_name{
    background-color: #c6c6c6 !important; /*Gray 30*/
}


@page {
    size: A3;
    margin: None;
}

@media print{

    .title_center{
        height: 10%;
        padding: auto;
        margin: auto;
    }
    .btn {
        display: none;
    }

    body, .my_caption, .my_table_header, .my_table_metrics_name, .my_td {
        font-size: 15pt;
    }

    .overview_section, .individual_section, .middle_section_a, .middle_section_b, .inner_section_a, .inner_section_b, .inner_section_table_a, .inner_section_table_b {
        page-break-after: always;
    }
    .overview_section:last-child, .individual_section:last-child, .middle_section_a:last-child, .middle_section_b:last-child, .inner_section_a:last-child, .inner_section_b:last-child, .inner_section_table_a:last-child, .inner_section_table_b:last-child {
        page-break-after: avoid;
    }

}
